@model ActivityTracker.Models.Group

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <h3 class="col-md-6">Edit group @Model.Name</h3>
    <div class="text-right detail-column">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-default"
                    onclick="return confirm('Are you sure you want to delete group @Model.Name?')">
                <i class="fas fa-trash-alt"></i> Delete Group
            </button>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group" hidden>
                <label asp-for="OwnerID" class="control-label"></label>
                <input asp-for="OwnerID" class="form-control" />
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="far fa-save"></i> Save</button> &nbsp;|&nbsp;
                <a asp-action="Index" asp-controller="Groups" asp-route-id="@Model.OwnerID">
                    <i class="fas fa-ban"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
