@model IEnumerable<ActivityTracker.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h2>Groups</h2>

<p>
    <a asp-action="Create" class="btn btn-default"><i class="fas fa-plus"></i> Create Group</a> &nbsp;|&nbsp;
    <a asp-action="Index" asp-controller="Students">Students</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-edit"></i></a> &nbsp;|&nbsp;
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
