@model ActivityTracker.Models.Activity

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to delete activity "@Model.Name"?</h2>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Cancel</a>
    </form>
</div>
