@model ActivityTracker.Models.Activity

@{
    ViewData["Title"] = "Delete";
}
<h2>Confirm Delete</h2>
<h3>Are you sure you want to delete activity "@Model.Name"?</h3>
@*<br />*@
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <button type="submit" class="btn btn-default"><i class="fas fa-trash-alt"></i> Delete</button> &nbsp;|&nbsp;
        <a asp-action="Index"><i class="fas fa-ban"></i> Cancel</a>
    </form>
</div>
