@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Activities" asp-action="Index" class="btn btn-lg" asp-route-id="@ViewBag.currentUserId">For Students</a><br />
<br />
<a asp-controller="Students" asp-action="Index" class="btn btn-lg">For Teachers</a>