body {
    background: #333;
    color: #f9f9f9;
}

a {
    color: #6cf;
}

    a:hover {
        color: #f9f9f9;
    }

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #227097;
}

table {
    color: white;
}

td {
    color: #fafafa !important;
}

#overview-activity-name {
    color: #fafafa;
}

tbody > tr:nth-child(odd) {
    background-color: #414141 !important;
}
