@model ActivityTracker.Models.LogEntry

@{
    ViewData["Title"] = "Edit";
}
<h2>Edit Log Entry @Model.Date.ToShortDateString()</h2>
<div class="row">
    <div class="col-md-4 detail-column">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group" hidden>
                <input asp-for="ActivityID" value="@Model.ActivityID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Date</label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSpent" class="control-label">Time Spent</label>
                <input asp-for="TimeSpent" class="form-control" />
                <span asp-validation-for="TimeSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notes</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><i class="far fa-save"></i> Save</button> &nbsp;|&nbsp;
                <a asp-action="Details" asp-controller="Activities" asp-route-id="@Model.ActivityID">
                    <i class="fas fa-ban"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
